<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio1</title>
</head>
<body>
    <div id="app">
        <p>Componente 1(app)</p>
        {{titulo}} <!-- Dentro de esta instancia estan los datos originales de titulo y nombre --> <br>
        {{nombre}}
        <input type="text" v-model="nombre">
    </div>
    <div id="componente">
        <p>Componente 2(componente)</p>
        {{text}} <!-- Aqui esta el nombre que se guardo en el dato text-->
        <input type="text" v-model="text"><!-- Son instancias independientes, por lo que si cambiamos el original, solo afecta a su componente -->
    </div>
    <hr>

    <div id="acceder">
        <center>
            <button v-on:click="cambiarColor()">Colors</button>
            <div ref="cont">------</div>
        </center>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <script>
        const uno = new Vue({
            el: '#app',
            data: {
                titulo: 'Cientifico de datos',
                nombre: 'Daniel Ortiz'
            }
        })
        const dos = new Vue({
            el: '#componente',
            data: {
                text:  uno.nombre
            }
        })
    
        const acceder =  new Vue({ /* Acceder a un componente dentro de un elemento */
            el: '#acceder',
            data:{
                numero: 0
            },
            methods:{
                cambiarColor(){
                    if(this.numero == 0){
                        this.numero++
                        return this.$refs.cont.style.background = "cyan"
                    }else if(this.numero == 1){
                        this.numero++
                        return this.$refs.cont.style.background = "red"
                    }else if(this.numero == 2){
                        this.numero = 0
                        return this.$refs.cont.style.background = "purple"
                    }
                }
            }
        })
    </script>
</body>
</html>